@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  font-family: "Inter",sans-serif;
  background: #0000;
}

@theme
{
  --color-jeevan-red: #d90429;
  --color-jeevan-orange: #f48c06;
  --color-jeevan-blue: #ade8f4;
  --color-jeevan-brown: #48322c;
  --color-jeevan-dark: #020617; /* The deep navy from your screenshot */
}

